@model IEnumerable<UsuarioViewModel>

@{
    ViewData["Title"] = "Vendedores";
}

<div class="content-wrapper">

    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Vendedores Registrados</h1>
                    <br>
                    <a class="btn btn-success" asp-controller="Vendedores" asp-action="Crear">Crear Vendedor</a>
                </div>
                <!-- /.col -->                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-olive">
                        <div class="card-header">
                            <h3 class="card-title">Vendedores</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @if (@Model.Count() == 0)
                            {
                                <div class="card-header">
                                    <h3 class="card-title">No hay datos para mostrar</h3>
                                </div>
                            }
                            else
                            {
                                <table id="example" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Usuario</th>
                                            <th>Fecha de Alta</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var vendedor in Model)
                                        {
                                            <tr>
                                                <td>@vendedor.Nombre</td>
                                                <td>@vendedor.Usuario</td>
                                                <td>@vendedor.FechaAlta.ToString("dd/MM/yyyy hh:ss")</td>
                                                <td>
                                                    <a class="btn btn-warning" asp-controller="Vendedores" asp-action="Editar" asp-route-IdUsuario="@vendedor.IdUsuario">
                                                        <i class="bi bi-pencil-square"></i>
                                                        Editar
                                                    </a>

                                                    <a class="btn btn-danger" asp-controller="Vendedores" asp-action="Eliminar" asp-route-IdUsuario="@vendedor.IdUsuario">
                                                        <i class="bi bi-trash-fill"></i>
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function() {
            $("#example").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,            
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                }
            });
        });
    </script>

</div>